/* primeira section  */

.intro {
  background-image: url(../assets/img/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.avatar {
  span img {
    position: relative;
    top: 118px;
    left: 42px;
  }
}

.user img {
  width: 112px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50px;
  border: 5px solid var(--red);
  margin-bottom: 56px;
}

.title {
  text-align: center;

  span {
    font: var(--subtitle);

    strong {
      color: var(--red);
    }
  }

  h1 {
    margin-top: 8px;
    font: var(--title-lg);
    margin-bottom: 20px;
  }
}
header p {
  font: var(--text-sm-2);
  color: var(--gray-400);
  width: 680px;
  text-align: center;
  margin-bottom: 80px;
}
.arrow {
  margin-block: 90px;
}

.arrow:hover {
  filter: brightness(0) saturate(100%) invert(84%) sepia(0%) saturate(750%)
    hue-rotate(180deg) brightness(85%) contrast(92%);
}

/* segunda section  */

.projects {
  background-color: var(--gray-200);
  padding-block: 110px;

  header {
    display: flex;
    gap: 8px;
    flex-direction: column;

    margin-bottom: 56px;
    text-align: center;

    span {
      margin-block: 8px 8px;
      color: var(--red);
      font: var(--subtitle);
    }

    h2 {
      font: var(--title-md);
    }
  }

  figcaption {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-300);
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 330px;
    height: 280px;
    padding-block: 12px;
    border-radius: 12px;
    gap: 3px;

    img {
      width: 306px;
      height: 156px;
      object-fit: cover;
      aspect-ratio: 1/1;
      border-radius: 8px;
      margin-top: 12px;
    }

    .text-card {
      padding: 12px 15px;

      h2 {
        font: var(--title-sd);
        color: var(--gray-600);
        margin-bottom: 4px;
      }

      p {
        font: var(--text-sm-2);
        color: var(--gray-400);
      }
    }
  }
}

/* terceira section  */

.services {
  height: 480px;
  background-color: var(--gray-100);

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  header {
    display: flex;
    gap: 8px;
    flex-direction: column;

    margin-bottom: 56px;
    text-align: center;

    span {
      margin-block: 8px 8px;
      color: var(--red);
      font: var(--subtitle);
    }

    h2 {
      font: var(--title-md);
    }
  }
  .card {
    margin-top: 56px;
    gap: 24px;
  }

  figcaption {
    border: 1px solid var(--gray-300);
    border-radius: 12px;
    padding: 20px 20px;
    width: 280px;
    height: 155px;

    h2 {
      font: var(--title-sd);
      color: var(--gray-600);
      margin-bottom: 4px;
    }

    p {
      font: var(--text-sm-2);
      color: var(--gray-400);
    }
  }
}
